@import 'tailwindcss';

@theme{
  --animate-bg: animate-bg 5s infinite ease-in-out;
  --animate-text: animate-text 5s ease-in-out infinite;

  @keyframes animate-bg {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
  }

  @keyframes animate-text{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
  }
}